@tailwind base;
@tailwind components;
@tailwind utilities;

.gallery {
    /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    font-family: sans;
}

.paginationContainer{
   
    width:90% ;
    display: flex;
  
    justify-content: space-evenly;
    margin: 20px 0px;
   
    
    align-items: center;
}
.activeLinkClassName{
    background-color: red;
    padding: 10px;
    font-weight: 900;
}